@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&family=Neucha&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  box-sizing: content-box;
}

.container {
  max-width: 1140px;
  width: 85%;
}

strong {
  font-weight: 500;
}

html {
  font-size: 18px;
  color: #572A17;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: "Neucha", "Gill Sans MT", sans-serif;
}

h1 {
  font-size: 3.55rem;
}

.hero {
  position: relative;
  min-height: 80vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 0 10rem;
  background-image: linear-gradient(to bottom, #FFF5EC, #F9DDC3);
}
.hero h1 {
  margin: 0;
  font-size: 4.5rem;
  line-height: 1.1;
}
.hero .content {
  width: 80%;
  max-width: 992px;
  text-align: center;
}
.hero .content .paragraph {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 0.5rem;
}
.hero .content .paragraph img {
  object-fit: contain;
  flex: 1 2 5%;
  max-width: 4rem;
}
.hero .content .paragraph p {
  flex: 1 1 90%;
  padding: 0 1rem;
}
.hero .content p {
  position: relative;
  max-width: 420px;
  margin: 1rem auto;
  line-height: 1.618;
}
.hero .content .cta {
  margin-top: 1rem;
  box-sizing: content-box;
}
.hero .pics {
  position: absolute;
  bottom: -6.5rem;
  width: 80%;
  max-width: 1140px;
  margin-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}
.hero .pics .img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 0 1 20%;
  padding: 0.2rem;
  border: 2px solid rgba(222, 24, 60, 0.7);
  border-radius: 2.25rem;
}
.hero .pics .img img {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 1rem 1rem rgba(222, 24, 60, 0.2);
}
@media screen and (max-width: 575px) {
  .hero .pics {
    margin-top: 0;
    margin-bottom: 2rem;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .hero .pics .img {
    flex: 0 1 35%;
    border-radius: 50%;
    margin-top: 2rem;
    border-width: 1px;
    padding: 0.2rem;
  }
  .hero .pics .img img {
    border-radius: 50%;
  }
}
@media screen and (max-width: 991px) {
  .hero h1 {
    font-size: 3.2rem;
  }
}

.highlighted {
  color: #E43150;
}

footer.footer {
  padding: 5rem 0 0;
  background: #572A17;
  color: #fff;
}
footer.footer #footer-line {
  border: 1px solid #613824;
}

footer .content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer .content .nav-brand {
  display: flex;
  align-items: center;
  margin-left: -1rem;
}
footer .content .nav-brand img {
  margin-right: 0.5rem;
}
footer .content .nav-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}
footer .content .nav-item {
  margin: 0 1rem;
}
footer .content .nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1rem;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.618;
}

.btn {
  padding: 0.75rem 1rem;
  box-shadow: 0 1.5rem 1rem -0.75rem rgba(222, 24, 60, 0.2);
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  transition: 0.1s ease-out;
}
.btn-primary {
  background: #E43150;
  color: #fff;
}
.btn-primary:hover {
  background: #de183c;
}
.btn-primary:active {
  background: #E43150;
}
.btn:hover {
  transform: scale(1.025);
  box-shadow: 0 1.75rem 1.25rem -0.7rem rgba(228, 49, 80, 0.25);
}
.btn:active {
  transform: scale(0.975);
  box-shadow: 0 1.25rem 0.8rem -0.8rem rgba(228, 49, 80, 0.25);
}

body {
  position: relative;
}
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/noise.jpg") repeat 5rem 5rem;
  pointer-events: none;
  opacity: 0.05;
}

.section {
  padding: 8rem 0 8rem;
}
.section h2 {
  text-transform: capitalize;
  font-size: 3.55rem;
}
@media screen and (max-width: 991px) {
  .section h2 {
    font-size: 2.369rem;
  }
}
@media screen and (max-width: 575px) {
  .section h2 {
    text-align: center;
  }
}

.testimonials {
  padding: 10rem 0 8rem;
  background: #FFFAF3;
  background-size: contain;
  background-attachment: fixed;
}
.testimonials h2 .highlighted {
  position: relative;
}
.testimonials h2 .highlighted:after {
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 90%;
  width: 5rem;
  height: 5rem;
  transform: translateX(-50%);
  background-image: url("../img/point-right.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .testimonials h2 .highlighted:after {
    width: 3rem;
    height: 3rem;
    bottom: -4rem;
  }
}
@media screen and (max-width: 767px) {
  .testimonials h2 .highlighted:after {
    width: 3rem;
    height: 3rem;
    bottom: -3rem;
    background-image: url("../img/point-down.png");
  }
}
.testimonials .row > *:nth-of-type(2) {
  margin-top: 7rem;
}
@media screen and (max-width: 767px) {
  .testimonials h2 {
    max-width: 15rem;
    margin: auto;
    text-align: center;
  }
  .testimonials .row > *:nth-of-type(2) {
    margin-top: 3rem;
  }
}

.testimonial-card {
  position: relative;
  border: 8px solid #FCD2AA;
  border-radius: 0.5rem;
  box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(252, 210, 170, 0.45);
  background: #FFF3E3;
}
.testimonial-card .content {
  line-height: 1.618;
}
.testimonial-card .person {
  margin-top: 1rem;
}
.testimonial-card .person .name {
  font-weight: 600;
  text-transform: uppercase;
}
.testimonial-card .person .name:before {
  content: "-";
}
.testimonial-card:before {
  content: "“";
  position: absolute;
  top: -4rem;
  font-size: 240px;
  color: #fff;
  text-shadow: 0.25rem 0.25rem 0.125rem #FCD2AA;
}

/**************************************************
OFFERS
***************************************************/
.offers {
  background: #572A17;
  color: #fff;
}
.offers h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.offer-card {
  margin: auto;
  max-width: 365px;
  box-shadow: 0 1.25rem 2rem rgba(50, 19, 6, 0.3);
  border-radius: 0.5rem;
  padding: 3rem 0;
  background: #613824;
}
.offer-card header {
  position: relative;
  padding: 0 0 2rem;
}
.offer-card header .name {
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.offer-card header .common {
  position: absolute;
  top: -3rem;
  right: -0.75rem;
  background: #613824;
  color: #FCD2AA;
  border: 4px solid #865845;
  border-radius: 0.25rem;
  box-shadow: 0.35rem 1rem 0.75rem -0.25rem rgba(50, 19, 6, 0.2);
  text-align: center;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  transform: rotate(7.5deg);
}
.offer-card header .common .price {
  font-size: 1.77667rem;
  font-weight: bold;
}
.offer-card .content {
  position: relative;
  padding: 3rem 2.5rem 0;
  text-align: center;
}
.offer-card .content:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60%;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  opacity: 0.1;
}
.offer-card .content p {
  line-height: 1.618;
  margin-bottom: 0.75rem;
}
.offer-card.main {
  padding-bottom: 3.5rem;
  background: #FCD2AA;
  color: #572A17;
}
.offer-card.main header {
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}
.offer-card.main header .common {
  color: #fff;
  top: -4.5rem;
}
.offer-card.main .content:before {
  background: #572A17;
  opacity: 0.2;
}

/**************************************************
FREQUENTLY ASKED QUESTIONS
***************************************************/
@media screen and (max-width: 767px) {
  .questions .heading {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.2;
  }
}
.questions details {
  position: relative;
}
.questions details summary {
  padding: 1.5rem 2rem;
  border: 8px solid #FCD2AA;
  border-radius: 0.5rem;
  box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(252, 210, 170, 0.45);
  background: #FFF3E3;
  line-height: 1.5;
}
.questions details p {
  width: 80%;
  margin: auto;
  padding: 1rem 2rem;
  background: rgba(252, 210, 170, 0.2);
  line-height: 1.618;
}

/*# sourceMappingURL=styles.css.map */
